.notepad {
  margin: auto auto;
  -webkit-filter: drop-shadow(rgba(149, 157, 165, 0.2) 0px 8px 24px);
  filter: drop-shadow(rgba(149, 157, 165, 0.2) 0px 8px 24px);
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.todo-container {
  padding: 0 24px;
}

.list-item {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 0;
  margin: 0;
}

.list-item > input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin: 0;
}

.list-item > input[type="text"] {
  color: #222;
  height: 24px;
  margin: 0;
}